*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    253deg,
    rgba(98, 181, 217, 1) 0%,
    rgba(40, 105, 159, 1) 74%
  );
  font-family: sans-serif;
  color: white;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
  span {
    margin: 10px;
    font-size: 30px;
  }
  h2 {
    font-size: 40px;
  }
}
